fastapi==0.136.1
uvicorn==0.46.0
pydantic==2.13.3
python-multipart==0.0.26

openai==2.32.0
vllm==0.19.1
transformers==5.6.2
torch==2.10.0

paddleocr==2.7.0.3
paddlepaddle-gpu==2.6.2

numpy==1.26.4
opencv-python==4.6.0.66
Pillow==12.2.0
pdf2image==1.17.0

locust==2.43.4

aiohttp==3.13.5
requests==2.33.1

python-dotenv==1.2.2
psutil==7.2.2
